

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --cor-geral: #FFFFFF;
    --cor-clara: #48556A;
    --cor-fundo-titulo-escuro: #d7dce1;
    --cor-escura: #19202D;
    --cor-texto-aspas: #CFCFCF;
    --roxo-claro: #A775F1;
    --roxo-escuro: #733FC8;

    --fonte-geral: "Barlow Semi Condensed", sans-serif;
}

body{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;

    font-family: var(--fonte-geral);
    background-color: var(--cor-fundo-titulo-escuro);
    color: var(--cor-geral);
    padding: 2em;
}


.container {
    display: grid;
    grid-template-columns: 255px 300px 270px 255px ;
    grid-auto-rows: 100px;
    margin-top: 20vh;
    
}

.container > div{
    border-radius: 8px;
    margin: .5em;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    overflow: hidden;
}

.usuario{
    display: flex;
    gap: 1rem;
}

.usuario__info{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.usuario__nome{
    font-weight: 500;
}

.verificado{
    opacity: 0.5;
}

.titulo{
    margin: 1.2rem 0 1.5rem 0;
    font-weight: 600;
    font-size: 20px;
}

.texto{
    font-size: 13px;
    line-height: 18px;
}

.texto-branco{
    color: var(--cor-geral);
}

.texto-cinza{
    color: var(--cor-clara);
}

.texto-aspas{
    color: var(--cor-texto-aspas);
}

.ofuscado{
    opacity: 0.7;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;

    background-image: url(img/aspas.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 35%;
    background-position-x: 90%;

    background-color: var(--roxo-escuro);
    order: 1;
}

.box2 {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 4;

    background-color: var(--cor-clara);
    order: 2;
}

.box3 {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 7;
    order: 3;
}

.box4 {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 7;
    order: 4;
}

.box5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;

    background-color: var(--cor-escura);
    order: 5;
}

.box3, .box4{
    color: var(--cor-clara);
    background-color: var(--cor-geral);
}

@media screen and (max-width: 768px) {

    body{
        padding: 4rem 0;
        width: 100vw;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    .container > div{
        padding: 1.5rem 2rem 2rem 2rem;
        width: 95vw;
    }

    .titulo{
        font-size: 20px;
    }

    .usuario__nome{
        font-size: 13px;
    }

    .verificado{
        font-size: 11px;
    }

    .box3{
        order: 5;
    }

    .box4{
        order: 3;
    }

    .box5{
        order: 4;
    }
}